name: CI

on:
  push:
  workflow_dispatch:

env:
  PHP_VERSION: "8.3"

permissions:
  contents: read

jobs:
  ci:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ env.PHP_VERSION }}
          coverage: none
        env:
          fail-fast: true

      - name: Install PHP Dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1

      - name: Generate stubs
        run: composer generate

      - name: Verify stubs
        run: php -l wordpress-test-library-stubs.php
