name: CI

on:
  push:
  workflow_dispatch:

env:
  PHP_VERSION: "8.3"

permissions:
  contents: read

jobs:
  ci:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: ${{ env.PHP_VERSION }}
          coverage: none
        env:
          fail-fast: true

      - name: Install PHP Dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1

      - name: Generate stubs
        run: composer generate

      - name: Verify stubs
        run: php -l wordpress-test-library-stubs.php
